<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question_play.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_play.question_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question_play.answer_id %>
</p>

<p>
  <strong>Level play:</strong>
  <%= @question_play.level_play_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @question_play.score %>
</p>

<%= link_to 'Edit', edit_question_play_path(@question_play) %> |
<%= link_to 'Back', question_plays_path %>
