<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @level.test_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @level.title %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @level.brief %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
