<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @test.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @test.brief %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
