<%= form_for(@level_play) do |f| %>
  <% if @level_play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level_play.errors.count, "error") %> prohibited this level_play from being saved:</h2>

      <ul>
      <% @level_play.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.number_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :max_score %><br>
    <%= f.text_field :max_score %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
